<a href="https://colab.research.google.com/github/ZahibVentura/Simulaci-n-1/blob/main/Sololearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dispositivo_electronico = [
    'celular',
    'tablet',
    'laptop',
    'pc'
]

print(dispositivo_electronico)

['celular', 'tablet', 'laptop', 'pc']

In [ ]:
numeros = [1,2,3,4,5]
print(numeros[:3])
print(numeros[2:])

[1, 2, 3]
[3, 4, 5]

In [ ]:
rngos = ['Rey','Reina','Peon']
sets = ['diamante','trevol','picas']
for r in rangos:
  for s in sets:
    print(r,s)

Rey diamante
Rey trevol
Rey picas
Reina diamante
Reina trevol
Reina picas
Peon diamante
Peon trevol
Peon picas

In [ ]:
rangos = ['Rey','Reina','Ass']
sets = ['diamante','trevol','picas']
for r in rangos:
  print('\n')
  print(r + ':')
  for s in sets:
      print(s)

Rey:
diamante
trevol
picas


Reina:
diamante
trevol
picas


Ass:
diamante
trevol
picas

In [ ]:
from re import A
a=range(3)
print(a)
for i in a:
  print(i)

range(0, 3)
0
1
2

In [ ]:
colores = ['azul','rojo','verde']
for color in colores:
  for i in range(3):
    print(color)

azul
azul
azul
rojo
rojo
rojo
verde
verde
verde

In [ ]:
Edad=[12,14,17,38,85,63]
for i in Edad:
  if i>=18:
    continue
  print(i)

12
14
17

In [ ]:
print(type(5))
A=range(4)
print(A)

<class 'int'>
range(0, 4)

In [ ]:
cad1='DgrFggFn'
cad2='fhgUhtTR'

cad1.upper()
cad2.lower()
cad1.capitalize()

'Bee'.find('e')
print('Bee'.find('E'))

-1

In [ ]:
util = ['lapiz','pluma','sacapuntas']
util.insert(2,'goma')
print(util)
util.pop(0)
print(util)

['lapiz', 'pluma', 'goma', 'sacapuntas']
['pluma', 'goma', 'sacapuntas']

In [ ]:
 def Hacho(a,b):
  suma = a+b
  return suma

print(Hacho(13,17))

30

In [ ]:
def rectangulo(base,altura):
  area = base*altura
  perimetro = 2*base + 2*altura
  return area, perimetro

x,y=rectangulo(2,3)

print(y)

10

In [ ]:
def mensaje(valor):
  if valor == True:
    print('se arma')
  else:
    print('nel perro')
Z=True
mensaje(False)

nel perro

In [ ]:
listicima=[26,52,27,18,93]
Lista_ordenada=sorted(listicima)
print(Lista_ordenada)

[18, 26, 27, 52, 93]

In [ ]:
#tuplas
uno = (1,3,6,4,2,6,4,1,5,3)
print(uno.count(3))
dos = (98,97,96,95)
a,c,*b=dos
print(b)

2
[96, 95]

In [ ]:
#sets

dado = {2,3,5,6,3}
print(dado)

dado.remove(3)
print(dado)

dado.add(1)

print(dado)
dado.clear()

print(dado)
dado.add(4)
moneda={'cara','cruz'}

evento = dado.union(moneda)
print(evento)

{2, 3, 5, 6}
{2, 5, 6}
{1, 2, 5, 6}
set()
{4, 'cruz', 'cara'}

In [ ]:
n=[1,2,3,4,5,6]
j=int(len(n)/2)+1
print(j)

4